HELP.md
target/
expense-backend/.mvn/wrapper/maven-wrapper.jar
!expense-backend/src/main/**/target/
!expense-backend/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!expense-backend/src/main/**/build/
!expense-backend/src/test/**/build/

### VS Code ###
.vscode/
